// Colors
$header: #5c22ad;
$user-logo: #ff5555;
$search: #d9d9d9;
$main: #c8c4c4;
$button-search: #30dd0e;
$buttopn-info: #86d748;
$white: #fff;
$black: #000;
$footer: #1b1621;
// Font Family
$font-family: 'Roboto', sans-serif;
$font-family-inknut: 'Inknut Antiqua', sans-serif;
