footer.footer
  .container
    .footer-row
      a.footer-about(href='#!') About the company RentoDrive
      .footer-media
        a(href='#!')
          img(src='./../../public/footer/facebook.svg' alt='')
        a(href='#!')
          img(src='./../../public/footer/telegram.svg' alt='')
        a(href='#!')
          img(src='./../../public/footer/instagram.svg' alt='')