header.header
  .container
    .row-header
      a.logo-img(href='./../../index.html')
        img(src='./../../public/header/logo.svg' alt='')
      .search-form
        input.search-input(type='text' placeholder='Пошук...')
      a.user-logo(href="./../../my_cars.html") В