main.carinfo
  .container
    .carinfo-image-wrapper
      img.carinfo-image(src='', alt='')
    .carinfo-text
      h1.carinfo-title
      p.carinfo-subtitle
    .carinfo-date
      h1.carinfo-date-title Заброньовані дати
      .calender
    .carinfo-ordered
      h2.carinfo-ordered-title Зробити бронь автомобілля
      form.form
        .form-group
          label(for='delivery_address') Адрес доставки:
          input#delivery_address(type='text', name='delivery_address')
        .form-group
          label(for='start_date') Дата початку бронювання:
          input#start_date(type='date', name='start_date')
        .form-group
          label(for='end_date') Дата кінця бронювання:
          input#end_date(type='date', name='end_date')
        .form-group
          label(for='driver_license') Ліцензія на водіння машини:
          input#driver_license(type='file', name='driver_license')
        .payment-option-wrapper
          .payment-options
            label.payment-option
              input(type='radio', name='payment_method', value='cash')
              | &nbsp;Готівка
            label.payment-option
              input(type='radio', name='payment_method', value='online', checked='')
              | &nbsp;Онлайн
          button.form-group-button(type='submit') Забронювати